/* galerry styling */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  align-items: start;

}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  text-align: left;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:focus-visible {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #d1d1d1;
  outline: none;
}

.img {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
  background: #f0f0f0;
}

.img:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

/* list sytling */
.list {
  list-style:none;
  padding:0;
  margin:0;
}

.list li {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.list button {
  background: none;
  border: none;
  padding: 8px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #3b7cb9;
}

.list button:hover {
  background-color: #e9e9ec;
  cursor: pointer;
}
.list button:focus-visible {
  background-color: #cccaca;
  outline: none;
}


/* detail view styling */
.detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.detail -img-container {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  background: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 16px;
  gap: 20px;
  color: white;
  background-color: #0f4370;
}

/* links */
.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar a.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
  
  